<h1>All your pizza are belong to us</h1>
 <% for pizza in @pizzas do %>

 <p>Name:</a> <%= pizza.pretty_name() %> </p>
 <p>Order: <%= pizza.quantity %> x <%= pizza.topping %> </p>
 <p><a href="/pizzas/<%= pizza.id %>">Show Order</a></p>
 <hr/>

 <% end %>
