<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/pizzas">All Pizzas</a></li>
      <li><a href="/pizzas/new">Click here to order!</a></li>
      <img id="party" src="/ipwt.jpg"></img>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
