<form action="/pizzas" method="POST">

  <label for="first-name-field">First name:</label>
  <input type="text" name="first_name" id="first-name-field"/>

  <label for="last-name-field">Last Name:</label>
  <input id="last-name-field" type="text" name="last_name">


  <label for="pizza-select">Select a pizza:</label>
  <select id="pizza-select" name="topping">
    <option value="Margherita">Margherita</option>
    <option value="Calzone">Calzone</option>
    <option value="Italian Sausage">Italian Sausage</option>
  </select>


  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="quantity"/>

  <input type="submit" value="Submit Order">

</form>
